<% include header %>
<div class="text-center">
<div class="col-md-6">
<h2>Movie Information</h2>
<ul class="list-group">
  <li class="list-group-item"><strong>Title:</strong> <%= Title%></li>
  <li class="list-group-item"><strong>Year:</strong> <%= Year %></li>
  <li class="list-group-item"><strong>Genere:</strong> <%= Genre%></li>
  <li class="list-group-item"><strong>Actors:</strong> <%= Actors%></li>
</ul>
</div>
<div class="col-md-6">
	<img src="<%= Poster%>">
</div>
</div>
<% include footer %>